<header>
<h1>Add a Vehicle</h1>
</header>
<form (ngSubmit)='add()'>
    <div class="form-group">
        <label for="Make">Make</label>
        <input class="form-control" name="Make" [(ngModel)]="car.make">
        <label for="Model">Model</label>
        <input class="form-control" name="Model" [(ngModel)]="car.model">
        <label for="Year">Year</label>
        <input class="form-control" name="Year" [(ngModel)]="car.year">
        <label for="Type">Type</label>
        <select class="form-control" name="Type" [(ngModel)]="car.type">
            <option value="Convertible">Convertible</option>
            <option value="Coupe">Coupe</option>
            <option value="Luxury">Luxury</option>
            <option value="Sedan">Sedan</option>
            <option value="Hatchback">Hatchback</option>
            <option value="Hybrid">Hybrid</option>
            <option value="SUV">SUV</option>
            <option value="Pickup">Pickup</option>
            <option value="Van">Van</option>
        </select>
        <label for="Rating">Rating</label>
        <select class="form-control" name="Rating" [(ngModel)]="car.rating">
            <option value=".5">.5 Star</option>
            <option value="1">1 Star</option>
            <option value="1.5">1.5 Stars</option>
            <option value="2">2 Stars</option>
            <option value="2.5">2.5 Stars</option>
            <option value="3">3 Stars</option>
            <option value="3.5">3.5 Stars</option>
            <option value="4">4 Stars</option>
            <option value="4.5">4.5 Stars</option>
            <option value="5">5 Stars</option>
        </select>
        <label for="Price">Price</label>
        <input class="form-control" name="Price" [(ngModel)]="car.price">
    </div>
    <div class="form-group">
        <input type="submit" class='form-control btn btn-primary' value='Add Car'/>
    </div>
</form>