<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-sm-2" style="float:left" *ngFor='let car of cars | async'>
    <label for="Make">Make:     </label>{{car.make}}<br>
   <label for="Model">Model:    </label>{{car.model}}<br>
    <label for="Year">Year:     </label>{{car.year}}<br>
    <label for="Type">Type:     </label>{{car.type}}<br>
  <label for="Rating">Rating:   </label>{{car.rating}} Stars<br>
   <label for="Price">Price:    </label>{{car.price | currency: 'USD':true}}<br>
        </div>
    </div>
</div>